<button class="btn btn-default btn-warning back" [routerLink]="'/'">Back</button>

<h1 class="font-monospace text-center m-2 text-warning bg-dark rounded d-flex justify-content-between shadow"> <p class="m-3">Latitude: {{ latitude }}</p> <p class="m-3">Longitude: {{ longitude }}</p></h1>

<div class="d-flex justify-content-around time">
  <div><img src="https://cdn-icons-png.flaticon.com/512/6991/6991342.png" alt="sunrise"> <p class="fw-bold">{{ time.results.sunrise }}</p></div>
  <div><img src="https://cdn-icons-png.flaticon.com/512/382/382575.png" alt="sunset"> <p class="fw-bold">{{ time.results.sunset }}</p></div>
</div>

<div class="table-responsive text-center">
<table class="table table-hover shadow">
  <thead class="table-dark">
    <tr>
      <th scope="col">Hour</th>
      <th scope="col">Icon</th>
      <th scope="col">Precipitation</th>
      <th scope="col">Cloud Coverage</th>
      <th scope="col">Temperature</th>
      <th scope="col">Humidity</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let status of meteo">
      <td>{{ status.timepoint }}:00</td>
      <td>
        <img src={{status.icon}} alt='image'>
      </td>
      <td>{{ status.prec_type }}</td>
      <td>{{ status.cloudcover }}</td>
      <td>{{ status.temp2m }} °C</td>
      <td>{{ status.rh2m }} %</td>
    </tr>
  </tbody>
</table>
</div>
